/* .App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */









@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e9eaec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}


.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bacad9;
}

.card {
  width: 360px;
  height: 262px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-top: 25px;
  cursor: pointer;
  justify-content: space-between;
  padding-bottom: 15px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  position: relative;
}

.user-online-indicator {
  width: 15px;
  height: 15px;
  background-color: #53f45a;
  position: absolute;
  bottom: 10px;
  right: 8px;
  border-radius: 50%;
  z-index: 4;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name h1 {
  font-size: 28px;
  font-weight: 500;
}

.profile-role {
  color: #6d6d6d;
}

.card-footer {
  width: 85%;
  height: 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.social-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-buttons button {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 23px;
  margin: 0 20px;
}












body {
  position: relative;
  height: 100%;
  width: 100%;
}

.columns {
  margin-top: 0;
}

.section {
  background-color: #ededed;
  min-height: 100vh;
  position: relative;
}

.section .card {
  border-radius: 6px;
  overflow: hidden;
  max-width: 300px;
  max-height: 380px;
  margin: 0 auto;
}

.section .card .header {
  height: 120px;
  background: #7f00ff;
}

.section .card .header .avatar {
  width: 80px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.section .card .header .avatar img {
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: -42px;
  border: 4px solid white;
}

.section .card .card-body {
  padding: 30px;
}

.section .card .card-body .user-meta {
  padding-top: 20px;
}

.section .card .card-body .user-meta .username {
  font-size: 18px;
  font-weight: 600;
}

.section .card .card-body .user-meta .position {
  font-size: 90%;
  color: #7f00ff;
}

.section .card .user-bio {
  padding-top: 8px;
  font-size: 92%;
  color: #999;
}

.section .card .action {
  padding-top: 20px;
}

.section .card .action .button {
  padding: 16px 20px 16px 20px;
  background: #7f00ff;
  border-color: #7f00ff;
  color: white;
  border-radius: 100px;
  transition: opacity 0.3s;
}

.section .card .action .button:hover {
  opacity: 0.7;
}

.link-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #7f00ff;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.link-button img {
  width: 32px;
  height: 32px;
  display: block;
}

.link-button:hover {
  transform: scale(1.1) rotate(180deg);
  background: #00d1b2;
}